In [1]:
import pandas as pd

In [38]:
student_df = pd.DataFrame(columns=["Matric Number"])
student_df

Empty DataFrame
Columns: [Matric Number]
Index: []

In [39]:
student_df.loc[len(student_df.index)] = ["U2005405"]
student_df

  Matric Number
0      U2005405

In [40]:
student_df.loc[len(student_df.index)] = ["U2005406"]
student_df

  Matric Number
0      U2005405
1      U2005406

In [41]:
student_df.to_html().replace('<table', '<table class="table table-responsive"')

'<table class="table table-responsive" border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Matric Number</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>U2005405</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>U2005406</td>\n    </tr>\n  </tbody>\n</table>'