In [7]:
import os
import pandas as pd
import openpyxl

In [28]:
url = r"C:\Users\User\xiaoyu\learning_passport\media\event_com\vita_comm_list.xlsx"
com_df = pd.read_excel(url, names=["position","year","matric"])
com_df

         position  year    matric
0       President  2019  u2005405
1  Vice President  2019  u2005382
2       Secretary  2019  u2005373
3       Secretary  2019  u2005408
4       Treasurer  2019  u2005263

In [31]:
for com in com_df.iterrows():
    print(com[1]['matric'].lower())
    print()

u2005405

u2005382

u2005373

u2005408

u2005263